<br>
<%= link_to image_tag("makeup_kit.jpg") %>
<br>
<h2>Welcome to GlamKit!</h2>
<div>
  <p>
   GlamKit is a makeup inventory app. You can create kit, log all of your makeup
   and rate all your items to share with other users. You can create as many
   kits as you would like.
  </p>
  <p>Lorem ipsum dolor amet hammock sartorial glossier, chartreuse cornhole brunch drinking vinegar waistcoat kitsch vape. Actually health goth next level jianbing fanny pack laborum. Consectetur banh mi synth sunt. Schlitz 8-bit et roof party. Ugh occaecat paleo, twee knausgaard four dollar toast semiotics. Marfa actually franzen dreamcatcher.</p>
<p>
Butcher lyft whatever, jean shorts palo santo anim ennui migas tacos quis. Small batch deserunt kinfolk salvia. Labore in ad vexillologist pickled quinoa photo booth, salvia tote bag tbh officia shoreditch venmo. Dolor XOXO squid, do tumblr single-origin coffee messenger bag health goth esse aliqua gentrify viral ut. Deep v meggings wayfarers you probably haven't heard of them gluten-free YOLO hoodie exercitation thundercats listicle snackwave health goth proident keffiyeh raw denim.</p>
<%= link_to 'Sign In', signin_path, :class => "linkbutton" %><br><br>
<%= link_to 'Sign Up', new_user_path, :class => "linkbutton" %><br><br>
</div>
