<%= link_to image_tag("makeup_kit.jpg") %>
<h2>Welcome to GlamKit!</h2>
<div>
  <p>
   GlamKit is a makeup inventory app. You can create kit, log all of your makeup
   and rate all your items to share with other users. You can create as many
   kits as you would like. 
  </p>
<%= link_to 'Sign In', signin_path %><br>
<%= link_to 'Sign Up', new_user_path %><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %><br><br>
</div>
