
<h3>Welcome <%= current_user.name %></h3>

<h4>List of Kits</h3>

<div>
  <% @kits.each do |k| %>
  <%= link_to k.name, user_kit_path(current_user, k) %><br><br>
  <% end %>
</div>

<%= link_to 'Add a New Kit', new_user_kit_path(current_user) %><br>
<%= link_to 'Sign Out', signout_path, method: :post %>
