<h1>Welcome <%= @user.first_name%></h1>
<p>Shouls this
  Add new kit form should go here or should a link to the form be here?
</p>
<p>link_to Add New Kit</p>
<p>link_to See All Your Kit or kits</p>

<%= link_to 'Sign Out', signout_path, method: :post %>
