@import 'bootstrap';

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 60px;
  margin-bottom: 60px;
  margin-left: 20px;
  background-color: #F0386B;
  color: #F8C0C8;
}
a {
  color: #E2C290;
}

button {
  background-color: #E2C290;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


button:hover {
  background-color: #6B2D5C;
  color: white;
}


/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #F8C0C8;
  background-color: #6B2D5C;
}


/* images */
img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
