header {
  padding: 50px;
  background: #250441;
  color: #C04155;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font: 70px arial, sans-serif;
}

footer {
  margin-top: 45px;
  padding: 20px;
  background: #390E5E;
  color:white;
}

a:link, a:visited {
    background-color: #480034;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}


a:hover, a:active {
    background-color: #68094E;
}


body {
  background: #1D1A31
}

div.main {
  background: #B4599B;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 4px;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.form {
  background-color: #98347C;
  color: white;
  width: 75%;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 4px;
}

#button {
  background-color: #5B000E;
    border: none;
    color: #E47183;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* table */
table {
    font-family: arial, sans-serif;
    background-color: #564F6F;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th {
   border: 1px solid #dddddd;
   text-align: center;
   padding: 8px;
   background-color: #2D283E;
   color: white;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: white;
}

/* kit items table */
#kitItemsTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

th {
   border: 1px solid #4D2075;
   text-align: center;
   padding: 8px;
   background-color: #623589;
   color: white;
}

td {
    border: 1px solid #4D2075;
    text-align: center;
    padding: 8px;
    color: white;
}

/* errors */
div.field_with_errors input[type="text"]{
  border: 1px solid #5B000E;
}

#error_explanation {
  color: #5B000E;
  ul {
    color: #5B000E;
    margin: 0 0 30px 0;
  }
}

/* images */
img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
