<!DOCTYPE html>
<html>
  <head>
    <title>GlamKit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <h1>GlamKit</h1>
</header>
    <%= yield %>
    <footer>Copyright &copy; glamkit.com</footer>
  </body>
</html>
